

.EvernoteWelcomeHeader {
  padding: 16px;
}
.EvernoteWelcomeHeader .page-header {
  margin-bottom: 16px;
}
.EvernoteWelcomeHeader .page-header h1 {
  font-size: 21px;
  margin-bottom: 0;
  margin-top: 4px;
  padding-bottom: 12px;
  color: #3b3b3b;
  text-align: center;
  font-family: caecilia-light, helvetica, arial, sans-serif;
  border-bottom: 1px solid #bdbdbd;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.EvernoteWelcomeHeader .text-content {
  font-size: 14px;
  line-height: 20px;
  padding: 0 40px;
  font-family: helvetica, arial, sans-serif;
  color: #747474;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
}





input[type="text"],
textarea,
input[type="password"] {
  color: #747474;
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  overflow: auto;
  color: #3b3b3b;
  border: 1px solid #cacaca;
  margin: 0px;
  padding: 0px 6px;
  width: 286px;
  height: 22px;
  margin-bottom: 16px;
}
:lang(zh-cn) input[type="text"],
:lang(zh-cn) textarea,
:lang(zh-cn) input[type="password"] {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="text"],
:lang(ja) textarea,
:lang(ja) input[type="password"] {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="text"],
.ie8 textarea,
.ie8 input[type="password"] {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="text"],
.ie8 :lang(zh-cn) textarea,
.ie8 :lang(zh-cn) input[type="password"] {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="text"],
.ie8 :lang(ja) textarea,
.ie8 :lang(ja) input[type="password"] {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder,
input[type="password"]:-moz-placeholder {
  color: #cacaca;
}
input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder,
input[type="password"]::-moz-placeholder {
  color: #cacaca;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  color: #cacaca;
}
input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #cacaca;
}
input[type="text"].placeholder-input,
textarea.placeholder-input,
input[type="password"].placeholder-input {
  color: #cacaca;
}

input[type="text"],
input[type="password"] {
  *overflow-x: hidden;
  *overflow-y: hidden;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}

input.error,
.lozenge-area .error {
  border: 1px solid #ffd1d1;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  position: relative;
}
input.warning,
.lozenge-area .warning {
  border: 1px solid #F0C7BC;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  -moz-box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  position: relative;
}
.error-status {
  margin: -18px 4px 4px 4px;
  padding: 8px 8px 6px 8px;
  z-index: 100;
  width: 278px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 12px;
  line-height: 15px;
  background-color: #ffd1d1;
  border: 1px solid #b92219;
  color: #B8211D;
  -webkit-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
}
.error-status a {
  font-size: 12px;
  line-height: 15px;
}
.error-bang > .error-status {
  background-position-y: center;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 19px;
  margin: -8px 0 6px;
  min-height: 16px;
  padding: 0 0 0 23px;
}
@media all {
  .error-bang > .error-status {
    background:  url("/redesign/global/img/error-bang.png") no-repeat;
    -webkit-background-size: 17px 16px;
    -moz-background-size: 17px 16px;
    -o-background-size: 17px 16px;
    background-size: 17px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .error-bang > .error-status {
    background:  url("/redesign/global/img/error-bang@2x.png") no-repeat;
    -webkit-background-size: 17px 16px;
    -moz-background-size: 17px 16px;
    -o-background-size: 17px 16px;
    background-size: 17px 16px;
  }
}
.warning-status {
  margin: -18px 4px 4px 4px;
  padding: 8px 8px 6px 8px;
  z-index: 100;
  width: 278px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 12px;
  line-height: 15px;
  background-color: #F3E6C3;
  border: 1px solid #F0C7BC;
  color: #b72200;
}
.warning-status a {
  font-size: 12px;
  line-height: 15px;
}
.select-elem {
  font-family: helvetica, arial, sans-serif;
  border: 1px solid #cacaca;
  height: 35px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  max-width: 100%;
  text-overflow: ellipsis;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.withHelpTip {
  
  
}
.withHelpTip input[type="text"],
.withHelpTip textarea,
.withHelpTip input[type="password"] {
  color: #747474;
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  overflow: auto;
  color: #3b3b3b;
  border: 1px solid #cacaca;
  margin: 0px;
  padding: 0px 6px;
  width: 254px;
  height: 22px;
  margin-bottom: 16px;
}
:lang(zh-cn) .withHelpTip input[type="text"],
:lang(zh-cn) .withHelpTip textarea,
:lang(zh-cn) .withHelpTip input[type="password"] {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) .withHelpTip input[type="text"],
:lang(ja) .withHelpTip textarea,
:lang(ja) .withHelpTip input[type="password"] {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 .withHelpTip input[type="text"],
.ie8 .withHelpTip textarea,
.ie8 .withHelpTip input[type="password"] {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .withHelpTip input[type="text"],
.ie8 :lang(zh-cn) .withHelpTip textarea,
.ie8 :lang(zh-cn) .withHelpTip input[type="password"] {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) .withHelpTip input[type="text"],
.ie8 :lang(ja) .withHelpTip textarea,
.ie8 :lang(ja) .withHelpTip input[type="password"] {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.withHelpTip input[type="text"]:-moz-placeholder,
.withHelpTip textarea:-moz-placeholder,
.withHelpTip input[type="password"]:-moz-placeholder {
  color: #cacaca;
}
.withHelpTip input[type="text"]::-moz-placeholder,
.withHelpTip textarea::-moz-placeholder,
.withHelpTip input[type="password"]::-moz-placeholder {
  color: #cacaca;
  opacity: 1;
}
.withHelpTip input[type="text"]:-ms-input-placeholder,
.withHelpTip textarea:-ms-input-placeholder,
.withHelpTip input[type="password"]:-ms-input-placeholder {
  color: #cacaca;
}
.withHelpTip input[type="text"]::-webkit-input-placeholder,
.withHelpTip textarea::-webkit-input-placeholder,
.withHelpTip input[type="password"]::-webkit-input-placeholder {
  color: #cacaca;
}
.withHelpTip input[type="text"].placeholder-input,
.withHelpTip textarea.placeholder-input,
.withHelpTip input[type="password"].placeholder-input {
  color: #cacaca;
}
.withHelpTip input[type="text"],
.withHelpTip input[type="password"] {
  *overflow-x: hidden;
  *overflow-y: hidden;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}
.withHelpTip input.error,
.lozenge-area .withHelpTip.error {
  border: 1px solid #ffd1d1;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  box-shadow: 0px 0px 3px 0px rgba(180, 0, 0, 0.7);
  position: relative;
}
.withHelpTip input.warning,
.lozenge-area .withHelpTip.warning {
  border: 1px solid #F0C7BC;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  -moz-box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  box-shadow: 0px 0px 2px 1px rgba(243, 230, 195, 0.7);
  position: relative;
}
.withHelpTip .error-status {
  margin: -18px 4px 4px 4px;
  padding: 8px 8px 6px 8px;
  z-index: 100;
  width: 246px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 12px;
  line-height: 15px;
  background-color: #ffd1d1;
  border: 1px solid #b92219;
  color: #B8211D;
  -webkit-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
}
.withHelpTip .error-status a {
  font-size: 12px;
  line-height: 15px;
}
.withHelpTip .error-bang > .error-status {
  background-position-y: center;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 19px;
  margin: -8px 0 6px;
  min-height: 16px;
  padding: 0 0 0 23px;
}
@media all {
  .withHelpTip .error-bang > .error-status {
    background:  url("/redesign/global/img/error-bang.png") no-repeat;
    -webkit-background-size: 17px 16px;
    -moz-background-size: 17px 16px;
    -o-background-size: 17px 16px;
    background-size: 17px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .withHelpTip .error-bang > .error-status {
    background:  url("/redesign/global/img/error-bang@2x.png") no-repeat;
    -webkit-background-size: 17px 16px;
    -moz-background-size: 17px 16px;
    -o-background-size: 17px 16px;
    background-size: 17px 16px;
  }
}
.withHelpTip .warning-status {
  margin: -18px 4px 4px 4px;
  padding: 8px 8px 6px 8px;
  z-index: 100;
  width: 246px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 12px;
  line-height: 15px;
  background-color: #F3E6C3;
  border: 1px solid #F0C7BC;
  color: #b72200;
}
.withHelpTip .warning-status a {
  font-size: 12px;
  line-height: 15px;
}
.withHelpTip .select-elem {
  font-family: helvetica, arial, sans-serif;
  border: 1px solid #cacaca;
  height: 35px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  max-width: 100%;
  text-overflow: ellipsis;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.encrypted-text-dialog {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.encrypted-text-dialog p {
  margin: 6px 0;
}
.encrypted-text-dialog .ext-padding {
  padding: 16px 32px;
}
.encrypted-text-dialog .dialog-head {
  font-family: caecilia, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 12px;
}
:lang(zh-cn) .encrypted-text-dialog .dialog-head {
  font-family: caecilia, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
:lang(ja) .encrypted-text-dialog .dialog-head {
  font-family: caecilia, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.ie8 .encrypted-text-dialog .dialog-head {
  font-family: caecilia-400-normal, Times, serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .encrypted-text-dialog .dialog-head {
  font-family: caecilia-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
.ie8 :lang(ja) .encrypted-text-dialog .dialog-head {
  font-family: caecilia-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.encrypted-text-dialog .error-status {
  display: none;
  width: 272px;
}
.rtl .encrypted-text-dialog p,
.rtl .encrypted-text-dialog .dialog-head,
.rtl .encrypted-text-dialog .dialog-body {
  text-align: right;
}
.rtl .encrypted-text-dialog .error-status {
  text-align: right;
  float: right;
}
.rtl .encrypted-text-dialog .BtnPanel {
  direction: rtl;
}
.rtl .encrypted-text-dialog .BtnPanel-btn {
  float: none;
  margin: 0 8px 8px 0;
}




.link-url-dialog {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #3b3b3b;
  padding-top: 1px;
}
.link-url-dialog div.dialog-head {
  font-family: caecilia, Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #b3b3b3;
  margin: 20px 20px 10px;
}
:lang(zh-cn) .link-url-dialog div.dialog-head {
  font-family: caecilia, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
:lang(ja) .link-url-dialog div.dialog-head {
  font-family: caecilia, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.ie8 .link-url-dialog div.dialog-head {
  font-family: caecilia-400-normal, Times, serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .link-url-dialog div.dialog-head {
  font-family: caecilia-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
.ie8 :lang(ja) .link-url-dialog div.dialog-head {
  font-family: caecilia-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.link-url-dialog div.dialog-body {
  padding: 10px 20px 0;
}
.link-url-dialog div.url-container {
  padding: 5px 20px 10px;
}
.link-url-dialog div.url-title {
  padding-top: 8px;
  padding-bottom: 5px;
}
.link-url-dialog input.url-input {
  width: 100%;
  height: 22px;
  font-size: 13px;
  border: 1px solid #cacaca;
  margin-bottom: 12px;
}
.link-url-dialog div.copy-container {
  position: relative;
  height: 28px;
  padding-bottom: 12px;
}
.link-url-dialog p {
  margin: 0;
}
.rtl .link-url-dialog {
  direction: rtl;
}
.rtl .link-url-dialog input[type="text"] {
  direction: ltr;
}




input[type="submit"],
input[type="button"],
.general-button,
a.general-button {
  display: inline-block;
  min-width: 100px;
  margin: 0px;
  padding: 6px 10px;
  border: 1px solid #b2b2b2;
  height: auto;
  width: auto;
  background: #f5f5f5;
  float: none;
  cursor: pointer;
  background-color: #efefef;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: linear-gradient(top, #f5f5f5, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe6e6e6', GradientType=0);
  color: #747474;
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  color: #3b3b3b;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -ms-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
:lang(zh-cn) input[type="submit"],
:lang(zh-cn) input[type="button"],
:lang(zh-cn) .general-button,
:lang(zh-cn) a.general-button {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="submit"],
:lang(ja) input[type="button"],
:lang(ja) .general-button,
:lang(ja) a.general-button {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="submit"],
.ie8 input[type="button"],
.ie8 .general-button,
.ie8 a.general-button {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="submit"],
.ie8 :lang(zh-cn) input[type="button"],
.ie8 :lang(zh-cn) .general-button,
.ie8 :lang(zh-cn) a.general-button {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="submit"],
.ie8 :lang(ja) input[type="button"],
.ie8 :lang(ja) .general-button,
.ie8 :lang(ja) a.general-button {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="submit"]:hover,
input[type="button"]:hover,
.general-button:hover,
a.general-button:hover {
  border: 1px solid #a4a4a4;
  color: #2b2b2b;
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #efefef, #dddddd);
  background-image: -ms-linear-gradient(top, #efefef, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #efefef, #dddddd);
  background-image: -o-linear-gradient(top, #efefef, #dddddd);
  background-image: linear-gradient(top, #efefef, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef', endColorstr='#ffdddddd', GradientType=0);
}
@media only screen and (max-width: 479px) {
  input[type="submit"],
  input[type="button"],
  .general-button,
  a.general-button {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
input[type="submit"].deemphasize,
input[type="button"].deemphasize,
.general-button.deemphasize,
a.general-button.deemphasize {
  height: 24px;
  padding: 0 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="submit"].emphasize,
input[type="button"].emphasize,
.general-button.emphasize,
a.general-button.emphasize {
  display: inline-block;
  min-width: 100px;
  margin: 0px;
  padding: 6px 10px;
  border: 1px solid #5c982c;
  height: auto;
  width: auto;
  background: #f5f5f5;
  float: none;
  cursor: pointer;
  background-color: #69ad31;
  background-image: -moz-linear-gradient(top, #6fb536, #5fa229);
  background-image: -ms-linear-gradient(top, #6fb536, #5fa229);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fb536), to(#5fa229));
  background-image: -webkit-linear-gradient(top, #6fb536, #5fa229);
  background-image: -o-linear-gradient(top, #6fb536, #5fa229);
  background-image: linear-gradient(top, #6fb536, #5fa229);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb536', endColorstr='#ff5fa229', GradientType=0);
  color: #747474;
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -ms-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
:lang(zh-cn) input[type="submit"].emphasize,
:lang(zh-cn) input[type="button"].emphasize,
:lang(zh-cn) .general-button.emphasize,
:lang(zh-cn) a.general-button.emphasize {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="submit"].emphasize,
:lang(ja) input[type="button"].emphasize,
:lang(ja) .general-button.emphasize,
:lang(ja) a.general-button.emphasize {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="submit"].emphasize,
.ie8 input[type="button"].emphasize,
.ie8 .general-button.emphasize,
.ie8 a.general-button.emphasize {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="submit"].emphasize,
.ie8 :lang(zh-cn) input[type="button"].emphasize,
.ie8 :lang(zh-cn) .general-button.emphasize,
.ie8 :lang(zh-cn) a.general-button.emphasize {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="submit"].emphasize,
.ie8 :lang(ja) input[type="button"].emphasize,
.ie8 :lang(ja) .general-button.emphasize,
.ie8 :lang(ja) a.general-button.emphasize {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="submit"].emphasize:hover,
input[type="button"].emphasize:hover,
.general-button.emphasize:hover,
a.general-button.emphasize:hover {
  border: 1px solid #4c881d;
  color: #ffffff;
  background-color: #569720;
  background-image: -moz-linear-gradient(top, #60a526, #478316);
  background-image: -ms-linear-gradient(top, #60a526, #478316);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60a526), to(#478316));
  background-image: -webkit-linear-gradient(top, #60a526, #478316);
  background-image: -o-linear-gradient(top, #60a526, #478316);
  background-image: linear-gradient(top, #60a526, #478316);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60a526', endColorstr='#ff478316', GradientType=0);
}
@media only screen and (max-width: 479px) {
  input[type="submit"].emphasize,
  input[type="button"].emphasize,
  .general-button.emphasize,
  a.general-button.emphasize {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
input[type="submit"].emphasize:disabled,
input[type="button"].emphasize:disabled,
.general-button.emphasize:disabled,
a.general-button.emphasize:disabled {
  display: inline-block;
  min-width: 100px;
  margin: 0px;
  padding: 6px 10px;
  border: 1px solid #bcbcbc;
  height: auto;
  width: auto;
  background: #f5f5f5;
  float: none;
  cursor: pointer;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: linear-gradient(top, #f6f6f6, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe6e6e6', GradientType=0);
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  color: #747474;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -ms-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
:lang(zh-cn) input[type="submit"].emphasize:disabled,
:lang(zh-cn) input[type="button"].emphasize:disabled,
:lang(zh-cn) .general-button.emphasize:disabled,
:lang(zh-cn) a.general-button.emphasize:disabled {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="submit"].emphasize:disabled,
:lang(ja) input[type="button"].emphasize:disabled,
:lang(ja) .general-button.emphasize:disabled,
:lang(ja) a.general-button.emphasize:disabled {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="submit"].emphasize:disabled,
.ie8 input[type="button"].emphasize:disabled,
.ie8 .general-button.emphasize:disabled,
.ie8 a.general-button.emphasize:disabled {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="submit"].emphasize:disabled,
.ie8 :lang(zh-cn) input[type="button"].emphasize:disabled,
.ie8 :lang(zh-cn) .general-button.emphasize:disabled,
.ie8 :lang(zh-cn) a.general-button.emphasize:disabled {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="submit"].emphasize:disabled,
.ie8 :lang(ja) input[type="button"].emphasize:disabled,
.ie8 :lang(ja) .general-button.emphasize:disabled,
.ie8 :lang(ja) a.general-button.emphasize:disabled {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="submit"].emphasize:disabled:hover,
input[type="button"].emphasize:disabled:hover,
.general-button.emphasize:disabled:hover,
a.general-button.emphasize:disabled:hover {
  border: 1px solid #bcbcbc;
  color: #747474;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: linear-gradient(top, #f6f6f6, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe6e6e6', GradientType=0);
}
@media only screen and (max-width: 479px) {
  input[type="submit"].emphasize:disabled,
  input[type="button"].emphasize:disabled,
  .general-button.emphasize:disabled,
  a.general-button.emphasize:disabled {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
input[type="submit"].super-emphasize,
input[type="button"].super-emphasize,
.general-button.super-emphasize,
a.general-button.super-emphasize {
  display: inline-block;
  min-width: 100px;
  margin: 0px;
  padding: 6px 10px;
  border: 1px solid #5c982c;
  height: auto;
  width: auto;
  background: #f5f5f5;
  float: none;
  cursor: pointer;
  background-color: #69ad31;
  background-image: -moz-linear-gradient(top, #6fb536, #5fa229);
  background-image: -ms-linear-gradient(top, #6fb536, #5fa229);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6fb536), to(#5fa229));
  background-image: -webkit-linear-gradient(top, #6fb536, #5fa229);
  background-image: -o-linear-gradient(top, #6fb536, #5fa229);
  background-image: linear-gradient(top, #6fb536, #5fa229);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6fb536', endColorstr='#ff5fa229', GradientType=0);
  color: #747474;
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -ms-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 1px 2px #2e7044;
}
:lang(zh-cn) input[type="submit"].super-emphasize,
:lang(zh-cn) input[type="button"].super-emphasize,
:lang(zh-cn) .general-button.super-emphasize,
:lang(zh-cn) a.general-button.super-emphasize {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="submit"].super-emphasize,
:lang(ja) input[type="button"].super-emphasize,
:lang(ja) .general-button.super-emphasize,
:lang(ja) a.general-button.super-emphasize {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="submit"].super-emphasize,
.ie8 input[type="button"].super-emphasize,
.ie8 .general-button.super-emphasize,
.ie8 a.general-button.super-emphasize {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="submit"].super-emphasize,
.ie8 :lang(zh-cn) input[type="button"].super-emphasize,
.ie8 :lang(zh-cn) .general-button.super-emphasize,
.ie8 :lang(zh-cn) a.general-button.super-emphasize {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="submit"].super-emphasize,
.ie8 :lang(ja) input[type="button"].super-emphasize,
.ie8 :lang(ja) .general-button.super-emphasize,
.ie8 :lang(ja) a.general-button.super-emphasize {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="submit"].super-emphasize:hover,
input[type="button"].super-emphasize:hover,
.general-button.super-emphasize:hover,
a.general-button.super-emphasize:hover {
  border: 1px solid #4c881d;
  color: #ffffff;
  background-color: #569720;
  background-image: -moz-linear-gradient(top, #60a526, #478316);
  background-image: -ms-linear-gradient(top, #60a526, #478316);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60a526), to(#478316));
  background-image: -webkit-linear-gradient(top, #60a526, #478316);
  background-image: -o-linear-gradient(top, #60a526, #478316);
  background-image: linear-gradient(top, #60a526, #478316);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60a526', endColorstr='#ff478316', GradientType=0);
}
@media only screen and (max-width: 479px) {
  input[type="submit"].super-emphasize,
  input[type="button"].super-emphasize,
  .general-button.super-emphasize,
  a.general-button.super-emphasize {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
input[type="submit"].super-emphasize:disabled,
input[type="button"].super-emphasize:disabled,
.general-button.super-emphasize:disabled,
a.general-button.super-emphasize:disabled {
  display: inline-block;
  min-width: 100px;
  margin: 0px;
  padding: 6px 10px;
  border: 1px solid #bcbcbc;
  height: auto;
  width: auto;
  background: #f5f5f5;
  float: none;
  cursor: pointer;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: linear-gradient(top, #f6f6f6, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe6e6e6', GradientType=0);
  line-height: 1.41666667;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-overflow: clip;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  color: #747474;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all 0.2s ease 0;
  -ms-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
:lang(zh-cn) input[type="submit"].super-emphasize:disabled,
:lang(zh-cn) input[type="button"].super-emphasize:disabled,
:lang(zh-cn) .general-button.super-emphasize:disabled,
:lang(zh-cn) a.general-button.super-emphasize:disabled {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) input[type="submit"].super-emphasize:disabled,
:lang(ja) input[type="button"].super-emphasize:disabled,
:lang(ja) .general-button.super-emphasize:disabled,
:lang(ja) a.general-button.super-emphasize:disabled {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 input[type="submit"].super-emphasize:disabled,
.ie8 input[type="button"].super-emphasize:disabled,
.ie8 .general-button.super-emphasize:disabled,
.ie8 a.general-button.super-emphasize:disabled {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) input[type="submit"].super-emphasize:disabled,
.ie8 :lang(zh-cn) input[type="button"].super-emphasize:disabled,
.ie8 :lang(zh-cn) .general-button.super-emphasize:disabled,
.ie8 :lang(zh-cn) a.general-button.super-emphasize:disabled {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) input[type="submit"].super-emphasize:disabled,
.ie8 :lang(ja) input[type="button"].super-emphasize:disabled,
.ie8 :lang(ja) .general-button.super-emphasize:disabled,
.ie8 :lang(ja) a.general-button.super-emphasize:disabled {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
input[type="submit"].super-emphasize:disabled:hover,
input[type="button"].super-emphasize:disabled:hover,
.general-button.super-emphasize:disabled:hover,
a.general-button.super-emphasize:disabled:hover {
  border: 1px solid #bcbcbc;
  color: #747474;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: -o-linear-gradient(top, #f6f6f6, #e6e6e6);
  background-image: linear-gradient(top, #f6f6f6, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe6e6e6', GradientType=0);
}
@media only screen and (max-width: 479px) {
  input[type="submit"].super-emphasize:disabled,
  input[type="button"].super-emphasize:disabled,
  .general-button.super-emphasize:disabled,
  a.general-button.super-emphasize:disabled {
    width: 99%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
input[type="submit"].inline,
input[type="button"].inline,
.general-button.inline,
a.general-button.inline {
  min-width: 0px;
  padding: 6px 16px;
}
@media only screen and (max-width: 479px) {
  input[type="submit"].inline,
  input[type="button"].inline,
  .general-button.inline,
  a.general-button.inline {
    width: auto;
  }
}
.ext-padding {
  padding: 32px 16px;
}
.open-native {
  text-align: center;
}
.open-native-header {
  font-size: 24px;
  font-family: caecilia, Times, serif;
  font-style: normal;
  font-weight: 400;
  color: #3b3b3b;
  margin-bottom: 12px;
}
:lang(zh-cn) .open-native-header {
  font-family: caecilia, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
:lang(ja) .open-native-header {
  font-family: caecilia, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.ie8 .open-native-header {
  font-family: caecilia-400-normal, Times, serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .open-native-header {
  font-family: caecilia-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
.ie8 :lang(ja) .open-native-header {
  font-family: caecilia-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.open-native-subheader {
  font-size: 14px;
  line-height: 20px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3b3b3b;
}
:lang(zh-cn) .open-native-subheader {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) .open-native-subheader {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 .open-native-subheader {
  font-family: gotham-400-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .open-native-subheader {
  font-family: gotham-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) .open-native-subheader {
  font-family: gotham-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.img {
  margin: 32px auto 16px;
}
.img.mac,
.img.win {
  width: 240px;
  height: 217px;
}
.img.android {
  width: 320px;
  height: 165px;
}
@media all {
  .img.android {
    background:  url("/redesign/notelink/NoteLinkViewAction/android.png") center;
    -webkit-background-size: 320px 165px;
    -moz-background-size: 320px 165px;
    -o-background-size: 320px 165px;
    background-size: 320px 165px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .img.android {
    background:  url("/redesign/notelink/NoteLinkViewAction/android@2x.png") center;
    -webkit-background-size: 320px 165px;
    -moz-background-size: 320px 165px;
    -o-background-size: 320px 165px;
    background-size: 320px 165px;
  }
}
.img.ios {
  width: 177px;
  height: 152px;
}
@media all {
  .img.ios {
    background:  url("/redesign/notelink/NoteLinkViewAction/ios.png") center;
    -webkit-background-size: 177px 152px;
    -moz-background-size: 177px 152px;
    -o-background-size: 177px 152px;
    background-size: 177px 152px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .img.ios {
    background:  url("/redesign/notelink/NoteLinkViewAction/ios@2x.png") center;
    -webkit-background-size: 177px 152px;
    -moz-background-size: 177px 152px;
    -o-background-size: 177px 152px;
    background-size: 177px 152px;
  }
}
@media all {
  .img.mac {
    background:  url("/redesign/DesktopCrossPromoAction/mac.png") center;
    -webkit-background-size: 240px 217px;
    -moz-background-size: 240px 217px;
    -o-background-size: 240px 217px;
    background-size: 240px 217px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .img.mac {
    background:  url("/redesign/DesktopCrossPromoAction/mac@2x.png") center;
    -webkit-background-size: 240px 217px;
    -moz-background-size: 240px 217px;
    -o-background-size: 240px 217px;
    background-size: 240px 217px;
  }
}
@media all {
  .img.win {
    background:  url("/redesign/DesktopCrossPromoAction/windows.png") center;
    -webkit-background-size: 240px 217px;
    -moz-background-size: 240px 217px;
    -o-background-size: 240px 217px;
    background-size: 240px 217px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .img.win {
    background:  url("/redesign/DesktopCrossPromoAction/windows@2x.png") center;
    -webkit-background-size: 240px 217px;
    -moz-background-size: 240px 217px;
    -o-background-size: 240px 217px;
    background-size: 240px 217px;
  }
}
.divider {
  margin-bottom: 32px;
}
.webclient-link {
  font-size: 13px;
  color: #4c8db7;
}
.download-app.general-button {
  margin-bottom: 8px;
}
@media only screen and (min-width: 930px), only screen and (min-width: 710px) and (max-width: 929px), only screen and (min-width: 480px) and (max-width: 709px) {
  .open-native .download-app,
  .open-native .emphasize.open-native-button {
    min-width: 300px;
  }
}
.join-notebook {
  margin: 0 -20px 0 -30px;
  padding: 8px 8px 8px 16px;
  line-height: 24px;
  font-family: caecilia, Times, serif;
  font-style: normal;
  font-weight: 400;
}
:lang(zh-cn) .join-notebook {
  font-family: caecilia, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
:lang(ja) .join-notebook {
  font-family: caecilia, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
.ie8 .join-notebook {
  font-family: caecilia-400-normal, Times, serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .join-notebook {
  font-family: caecilia-400-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, serif;
}
.ie8 :lang(ja) .join-notebook {
  font-family: caecilia-400-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, serif;
}
@media only screen and (max-width: 709px) {
  .join-notebook {
    margin: 0;
  }
}
.join-notebook-name {
  display: inline-block;
  width: 565px;
  max-width: 565px;
}
@media only screen and (min-width: 930px) {
  .join-notebook-name {
    width: 565px;
    max-width: 565px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 929px) {
  .join-notebook-name {
    width: 500px;
    max-width: 500px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 709px) {
  .join-notebook-name {
    width: 70%;
    max-width: 70%;
  }
}
@media only screen and (max-width: 479px) {
  .join-notebook-name {
    width: 100%;
    max-width: 100%;
  }
}
a.general-button.join-notebook-button {
  float: right;
  font-size: 12px;
  padding: 2px 10px;
}
@media only screen and (max-width: 479px) {
  a.general-button.join-notebook-button {
    width: 90%;
    float: none;
  }
}
.check {
  display: inline-block;
  width: 18px;
  height: 18px;
}
@media all {
  .check {
    background:  url("/redesign/notelink/NoteLinkViewAction/check.png") center;
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    background-size: 18px 18px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .check {
    background:  url("/redesign/notelink/NoteLinkViewAction/check@2x.png") center;
    -webkit-background-size: 18px 18px;
    -moz-background-size: 18px 18px;
    -o-background-size: 18px 18px;
    background-size: 18px 18px;
  }
}


