/*  ==================================================================================
    Copyright 2014 Evernote Corporation. All rights reserved.

    Fonts

    Define webfonts for use in the Evernote web project

    ================================================================================== */
/*  Caecilia @font-face definitions
    ================================================================================== */
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-light-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-light-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-light-webfont.svg#webfont_bold') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: caecilia-300-normal;
  src: url("/redesign/global/css/fonts/caecilialtstd-light-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-light-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.svg#webfont_bold') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: caecilia-300-italic;
  src: url("/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-roman-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-roman-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.svg#webfont_bold') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: caecilia-400-normal;
  src: url("/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-italic-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-italic-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.svg#webfont_bold') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: caecilia-400-italic;
  src: url("/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-bold-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-bold-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.svg#webfont_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: caecilia-700-normal;
  src: url("/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: caecilia;
  src: url("/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.woff") format('woff'), url("/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.svg#webfont_bold') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: caecilia-700-italic;
  src: url("/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot");
  src: url("/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*  Evernote Rhonda @font-face definition
    ================================================================================== */
@font-face {
  font-family: evernote_rhonda;
  src: url("/redesign/global/css/fonts/evernoterhonda-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/evernoterhonda-regular-webfont.woff") format('woff'), url("/redesign/global/css/fonts/evernoterhonda-regular-webfont.ttf") format('truetype'), url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.svg#webfont_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: evernote_rhonda-normal-normal;
  src: url("/redesign/global/css/fonts/evernoterhonda-regular-webfont.eot");
  src: url("/redesign/global/css/fonts/evernoterhonda-regular-webfont.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*  Salesforce Sans @font-face definitions
    ================================================================================== */
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-Thin.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-Thin.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-Thin.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-Thin.svg#webfont_bold') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans-100-normal;
  src: url("/redesign/global/css/fonts/SalesforceSans-Thin.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-ThinItalic.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-ThinItalic.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-ThinItalic.svg#webfont_bold') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: salesforcesans-100-italic;
  src: url("/redesign/global/css/fonts/SalesforceSans-ThinItalic.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-ThinItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-Light.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-Light.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-Light.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-Light.svg#webfont_bold') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans-300-normal;
  src: url("/redesign/global/css/fonts/SalesforceSans-Light.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-LightItalic.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-LightItalic.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-LightItalic.svg#webfont_bold') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: salesforcesans-300-italic;
  src: url("/redesign/global/css/fonts/SalesforceSans-LightItalic.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-Regular.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-Regular.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-Regular.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-Regular.svg#webfont_bold') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans-400-normal;
  src: url("/redesign/global/css/fonts/SalesforceSans-Regular.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-Italic.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-Italic.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-Italic.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-Italic.svg#webfont_bold') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: salesforcesans-400-italic;
  src: url("/redesign/global/css/fonts/SalesforceSans-Italic.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-Bold.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-Bold.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-Bold.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-Bold.svg#webfont_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans-700-normal;
  src: url("/redesign/global/css/fonts/SalesforceSans-Bold.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: salesforcesans;
  src: url("/redesign/global/css/fonts/SalesforceSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/redesign/global/css/fonts/SalesforceSans-BoldItalic.woff") format('woff'), url("/redesign/global/css/fonts/SalesforceSans-BoldItalic.ttf") format('truetype'), url('/redesign/global/css/fonts/SalesforceSans-BoldItalic.svg#webfont_bold') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: salesforcesans-700-italic;
  src: url("/redesign/global/css/fonts/SalesforceSans-BoldItalic.eot");
  src: url("/redesign/global/css/fonts/SalesforceSans-BoldItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/*  Gotham @font-face definition
    ================================================================================== */
/*!
  Copyright (C) 2013 Hoefler & Frere-Jones

  This software is the property of Hoefler & Frere-Jones (H&FJ).
  Your right to access and use this software is subject to the
  applicable License Agreement, or Terms of Service, that exists between you and H&FJ. If no such agreement exists, you may not
  access or use this software for any purpose.

  This software may only be hosted at the locations specified in
  the applicable License Agreement or Terms of Service, and only
  for the purposes expressly set forth therein.  You may not copy,
  modify, convert, create derivative works from or distribute this
  software in any way, or make it accessible to any third party,
  without first obtaining the written permission of H&FJ.

  For more information, please visit H&FJ at http://typography.com.
  152588-63722-20130826
*/
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/04F6D068D4A33A1DF.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: gotham-300-normal;
  src: url("/redesign/global/css/fonts/04F6D068D4A33A1DF.eot");
  src: local('?'), url("/redesign/global/css/fonts/04F6D068D4A33A1DF.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/F4671B5B0A865F73C.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-light-italic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: gotham-300-italic;
  src: url("/redesign/global/css/fonts/F4671B5B0A865F73C.eot");
  src: local('?'), url("/redesign/global/css/fonts/F4671B5B0A865F73C.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/0E1C61EA7744BAF6E.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-book.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gotham-400-normal;
  src: url("/redesign/global/css/fonts/0E1C61EA7744BAF6E.eot");
  src: local('?'), url("/redesign/global/css/fonts/0E1C61EA7744BAF6E.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/6DD66284BA5A9CFF6.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-book-italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: gotham-400-italic;
  src: url("/redesign/global/css/fonts/6DD66284BA5A9CFF6.eot");
  src: local('?'), url("/redesign/global/css/fonts/6DD66284BA5A9CFF6.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/140183092F34C88B5.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: gotham-500-normal;
  src: url("/redesign/global/css/fonts/140183092F34C88B5.eot");
  src: local('?'), url("/redesign/global/css/fonts/140183092F34C88B5.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/A3C99C48DFF681102.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-medium-italic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: gotham-500-italic;
  src: url("/redesign/global/css/fonts/A3C99C48DFF681102.eot");
  src: local('?'), url("/redesign/global/css/fonts/A3C99C48DFF681102.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/A3FE1652E9A9460E6.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: gotham-700-normal;
  src: url("/redesign/global/css/fonts/A3FE1652E9A9460E6.eot");
  src: local('?'), url("/redesign/global/css/fonts/A3FE1652E9A9460E6.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham;
  src: local('?'), url("/redesign/global/css/fonts/9E86ED56F0272CCE6.eot?#hfj") format("embedded-opentype"), url("/redesign/global/css/fonts/gotham-bold-italic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: gotham-700-italic;
  src: url("/redesign/global/css/fonts/9E86ED56F0272CCE6.eot");
  src: local('?'), url("/redesign/global/css/fonts/9E86ED56F0272CCE6.eot?#hfj") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia-bold';
  src: url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-bold-webfont.svg#webfont_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia';
  src: url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-roman-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia-light';
  src: url('/redesign/global/css/fonts/caecilialtstd-light-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-light-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-light-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-light-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-light-webfont.svg#webfont_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia-bold-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-bolditalic-webfont.svg#webfont_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-italic-webfont.svg#webfont_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caecilia-light-italic';
  src: url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot');
  src: url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.woff') format('woff'), url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/caecilialtstd-lightitalic-webfont.svg#webfont_light_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'evernote_rhondaregular';
  src: url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.eot');
  src: url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.woff') format('woff'), url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.ttf') format('truetype'), url('/redesign/global/css/fonts/evernoterhonda-regular-webfont.svg#evernote_rhondaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
