/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.sharing-menu .menu-bar {
  background-color: #f4f6f7;
  border: 1px solid rgba(153, 158, 161, 0.9);
  padding: 7px 0;
}
.sharing-menu .menu-bar-div.selected {
  background-color: #d1d4d7;
}
.sharing-menu .menu-bar-label {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  height: 16px;
  color: #646e71;
  padding: 3px 5px 0 5px;
}
.sharing-menu .menu-bar-icon {
  position: relative;
  top: 2px;
}
.sharing-menu .icon {
  width: 24px;
  height: 19px;
}
@media all {
  .sharing-menu .icon {
    background:  url('share.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .icon {
    background:  url('share@2x.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all {
  .sharing-menu .icon:hover {
    background:  url('share-hover.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .icon:hover {
    background:  url('share-hover@2x.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all {
  .sharing-menu .icon:active {
    background:  url('share-active.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .icon:active {
    background:  url('share-active@2x.png') no-repeat;
    -webkit-background-size: 24px 19px;
    -moz-background-size: 24px 19px;
    -o-background-size: 24px 19px;
    background-size: 24px 19px;
  }
}
@media all {
  .sharing-menu .facebook-icon {
    background:  url('facebook.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .facebook-icon {
    background:  url('facebook@2x.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .sharing-menu .twitter-icon {
    background:  url('twitter.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .twitter-icon {
    background:  url('twitter@2x.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .sharing-menu .linkedin-icon {
    background:  url('linkedin.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .linkedin-icon {
    background:  url('linkedin@2x.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .sharing-menu .link-icon {
    background:  url('link.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .sharing-menu .link-icon {
    background:  url('link@2x.png') 0 0 no-repeat;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
